/* Features Section Base */
.features-section {
    height: 100vh; /* Adjusted for smoother scrolling */
    position: relative;
    overflow: hidden;
    z-index: 2;
}


/* Features Grid Layout */
.features-grid {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}


/* Feature Card Styles */
.feature-card {
    position: absolute;
    top: 50%;
    /* Reduced the left position to bring cards more towards center */
    left: calc(20% + (100vw - 320px) * 0.05 / (1920 - 320));
    /* Adjusted width to maintain readability while being centered */
    width: calc(60% - (100vw - 320px) * 0.05 / (1920 - 320));
    height: 100vh;
    z-index: 5;
    transform: translate(-50%, -50%);
    visibility: visible;
    will-change: transform, opacity;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-card:hover .card-inner {
    transform: rotateY(180deg);
}

/* Card Front and Back Common Styles */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Card Hover Effects */
.feature-card:hover .card-front,
.feature-card:hover .card-back {
    height: 50vh;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10);
    border-radius: 20px;

}

/* Card Back Specific Styles */
.card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-content {
    text-align: center;
}

    .back-content h3 {
        color: #2d3748;
        font-size: 2.5vw; /* Responsive font size */
        margin: 0;
    }

    .back-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .back-content li {
        color: #718096;
        margin: 15px 0;
        font-size: 1.5vw; /* Responsive font size */
        transition: color 0.3s ease;
    }

        .back-content li:hover {
            color: #4299e1;
        }

/* Feature Icon Styles */
.feature-icon {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    transition: transform 0.2s ease;
}

.hoverable-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.6s ease;
}

.feature-card:hover .hoverable-icon {
    transform: translatey(-300px);
}

/* Responsive Font Sizes */
.features-grid .feature-card h1, .features-grid .feature-card h3 {
    font-size: 3vw; /* Responsive font size */
    margin: 15px;
    font-family: 'Zen Dots';
}

.features-grid .feature-card p {
    font-size: 1vw; /* Responsive font size */
    margin: 15px;
    font-family: 'Zen Dots';
    color: #718096;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .features-grid {

    }

    .feature-card {

    }

    .features-grid .feature-card h1, .features-grid .feature-card h3 {
        font-size: 4vw; /* Responsive font size */
        margin: 0;
        font-family: 'Zen Dots';
    }

    .features-grid .feature-card p {
        font-size: 2vw; /* Responsive font size */
        margin: 0;
        font-family: 'Zen Dots';
        color: darkslategrey;
    }

    .back-content li {
        font-size: 2vw; /* Responsive font size */
    }
}

@media (max-width: 640px) {
    .features-grid {

    }

    .feature-card {

    }

    .features-grid .feature-card h1, .features-grid .feature-card h3 {
        font-size: 6vw; /* Responsive font size */
        margin: 0;
        font-family: 'Zen Dots';
    }

    .features-grid .feature-card p {
        font-size: 3vw; /* Responsive font size */
        margin: 0;
        font-family: 'Zen Dots';
        color: darkslategrey;
    }

    .back-content li {
        font-size: 4vw; /* Responsive font size */
    }
}
